.app-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.responsive-container {
  width: 80%;
  max-width: 550px;
}

@media screen and (min-width: 768px) {
  .responsive-container {
    max-width: 1140px;
  }
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('https://res.cloudinary.com/do4qwwms8/image/upload/v1626263091/Money%20Manager/money-manager-header_rxlcrn.png');
  background-size: cover;
  height: 172px;
  border-radius: 16px;
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .header-container {
    align-items: flex-start;
    padding: 48px;
  }
}

.heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 30px;
  }
}

.header-content {
  color: #475569;
  font-family: 'Roboto';
  font-size: 14px;
  margin: 0px;
}
